*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #A4A4EF;
    padding: 20px;
}

body {
    background-color: beige;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    background-color: beige;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;       
    border-radius: 10px;
    border: 2px solid #ddd;
    align-items: center;
}

.ajoutem {
    padding: 10px 20px;
    background-color: #4caf50;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;   
}

.ajoutem:hover {
    background-color: #45a049;
}

.etages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.zone {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    min-height: 180px;
    background-color: #A4A4EF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}




.form input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #aaa;
    display: block;
}
#formcontainer{
    display: none;
    background-color: white;
    width: 100%;
    max-width: 300px;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
    padding: 20px;
}
.role-label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.role-label select {
    padding: 8px 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.button-ajouter{
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    background-color: #45a049;
    display: block;
    text-align: center;
    cursor: pointer;
}
.btn-add-to-zone{
    border: white solid;
    border-radius: 30%;
}
.btn-add-to-zone:hover{
    background-color: green;
    border-color:green;
}
 .remove{
    background-color: red;
    color: white;
    border:none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .remove:hover{
    background-color: #e60000;
    transform: scale(1.1);
 }
 

/*        RESPONSIVE MOBILE     */


@media (max-width: 768px) {

    .main-container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        width: 100%;
        align-items: flex-start;
    }

    .ajoutem {
        width: 100%;
        text-align: center;
    }

    .etages {
        grid-template-columns: 1fr;
    }
}
